{{ define "base" }}
<!DOCTYPE html>
<html>
<head>
    <title>{{ block "title" . }}Tenkit{{ end }}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-base-200 text-center p-10">

    {{ template "header" . }}

    <main class="p-6">
        <form method="GET" action="/lang" class="inline-block">
            <select name="lang" onchange="this.form.submit()" class="select select-sm select-bordered">
                <option value="en" {{if eq .Lang "en"}}selected{{end}}>EN</option>
                <option value="fr" {{if eq .Lang "fr"}}selected{{end}}>FR</option>
            </select>
        </form>
        {{ block "content" . }}{{ end }}
    </main>

</body>
</html>
{{ end }}
